$font-family-base: 'Roboto', sans-serif ;
$font-family-accent: 'Oswald' sans-serif;

$font-sizes: (
  "small": (
    "900": 3.75rem,
    "800": 2.25rem,
    "700": 1.75rem,
    "600": 1.125rem,
    "500": 1.125rem,
    "400": 1rem,
    "300": 0.925rem,
    "200": 0.875rem,
  ),
  "large": (
    "900": 3.75rem,
    "800": 3rem,
    "700": 1.75rem,
    "600": 1.3125rem,
    "500": 1.125rem,
    "400": 1rem,
    "300": 0.925rem,
    "200": 0.875rem,
  ),
);